.page-wrap{
    background-color:#fff;
    margin:0;
    padding: 1em;
    @media screen and (min-width: 480px) {
      padding: 3em;
    }
    padding-top:0;
    margin-bottom:2em;
}

.post-content{}

a.menu-icon{
    width:30px;
    height:30px;

}

header nav {
  display: none;
}

header .site-title {
  display: block;
  width: 100%;
  height: auto;
  margin-top:48px;
  margin-bottom:24px;
  margin-left:5;
}

header .site-title img{
  height:47px;
  width:auto;
  @media screen and (min-width: 480px) {
    float: right;
  }
}

.home h1{
    text-align:left;
    font-size:1.75em;
    margin-bottom:1em;
    border-top:3px solid #232323;
    padding-top:7px;
}

.posts{
    line-height:1.6em;
}

.post-date{
    display:inline-block;
    width:120px;
}

.rss-subscribe{
    display:block;
    margin-top:2em;
    text-align:center;
}

.post img {max-width:100%;height:auto;}
header .site-title img {padding:0;}
