<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <a class="mia-logo-bar" href="http://collections.artsmia.org"><div class="logo-container"></div></a>
    <div class="page-wrap">
      {% include header.html %}
      <div class="page-content">
        <div class="wrap">
        {{ content }}
        </div>
      </div>
      {% include footer.html %}
    </div>
    <script type="text/javascript">
      var collectionsLink = document.querySelector('.mia-logo-bar')
      collectionsLink.addEventListener('click', function(event) {
        var referrer = document.referrer
        if(referrer.match(/collections.*artsmia\.org/)) {
          event.preventDefault()
          window.location = referrer
        }
      })
    </script>
  </body>
</html>
